{port_env, [
            {"CFLAGS", "$CFLAGS -DLUA_USE_MACOSX -DLUA_COMPAT_MODULE -I./lua"},
            {"LDFLAGS", "$LDFLAGS -lreadline"}
           ]}.

{port_specs, [
              {"priv/elua.so",
               [
                "c_src/elua.c",
                "c_src/equeue.c",
                "c_src/lapi.c",
                "c_src/lcode.c",
                "c_src/lctype.c",
                "c_src/ldebug.c",
                "c_src/ldo.c",
                "c_src/ldump.c",
                "c_src/lfunc.c",
                "c_src/lgc.c",
                "c_src/llex.c",
                "c_src/lmem.c",
                "c_src/lobject.c",
                "c_src/lopcodes.c",
                "c_src/lparser.c",
                "c_src/lstate.c",
                "c_src/lstring.c",
                "c_src/ltable.c",
                "c_src/ltm.c",
                "c_src/lundump.c",
                "c_src/lvm.c",
                "c_src/lzio.c",
                "c_src/lauxlib.c",
                "c_src/lbaselib.c",
                "c_src/lbitlib.c",
                "c_src/lcorolib.c",
                "c_src/ldblib.c",
                "c_src/liolib.c",
                "c_src/lmathlib.c",
                "c_src/loslib.c",
                "c_src/lstrlib.c",
                "c_src/ltablib.c",
                "c_src/lutf8lib.c",
                "c_src/loadlib.c",
                "c_src/linit.c"
               ]},

              {"priv/pack.so",
               [
                "c_src/epack.c"
               ]},

              {"priv/emt.so",
               [
                "c_src/emt.c"
               ]}
             ]}.
