{port_env, [
            {"CFLAGS", "$CFLAGS -DLUA_USE_MACOSX"},
            {"LDFLAGS", "$LDFLAGS -lreadline"}
           ]}.

{port_specs, [
              {"priv/elua.so",
               [
                "c_src/elua.c",
                "c_src/lua/src/lapi.c",
                "c_src/lua/src/lcode.c",
                "c_src/lua/src/lctype.c",
                "c_src/lua/src/ldebug.c",
                "c_src/lua/src/ldo.c",
                "c_src/lua/src/ldump.c",
                "c_src/lua/src/lfunc.c",
                "c_src/lua/src/lgc.c",
                "c_src/lua/src/llex.c",
                "c_src/lua/src/lmem.c",
                "c_src/lua/src/lobject.c",
                "c_src/lua/src/lopcodes.c",
                "c_src/lua/src/lparser.c",
                "c_src/lua/src/lstate.c",
                "c_src/lua/src/lstring.c",
                "c_src/lua/src/ltable.c",
                "c_src/lua/src/ltm.c",
                "c_src/lua/src/lundump.c",
                "c_src/lua/src/lvm.c",
                "c_src/lua/src/lzio.c",
                "c_src/lua/src/lauxlib.c",
                "c_src/lua/src/lbaselib.c",
                "c_src/lua/src/lbitlib.c",
                "c_src/lua/src/lcorolib.c",
                "c_src/lua/src/ldblib.c",
                "c_src/lua/src/liolib.c",
                "c_src/lua/src/lmathlib.c",
                "c_src/lua/src/loslib.c",
                "c_src/lua/src/lstrlib.c",
                "c_src/lua/src/ltablib.c",
                "c_src/lua/src/lutf8lib.c",
                "c_src/lua/src/loadlib.c",
                "c_src/lua/src/linit.c"
               ]}
             ]}.
